fastapi[all]==0.115.0
faststream[redis]==0.5.25
pydantic==2.9.2
pydantic-settings==2.5.2
ayoomoney~=1.2.0
SQLAlchemy==2.0.35
aiosqlite==0.20.0
alembic==1.13.3
greenlet==3.1.1
dependency-injector==4.42.0
aiogram==3.13.1
loguru==0.7.2